@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.container-login {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/pictures/FondoPI.jpg');
}

.logo {
    background-image: url('/assets/pictures/Logo_UPEU.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 390px;
    height: 100px;
    margin-bottom: 45px;
}

.container {
    border-radius: 50px;
    border: 4px solid #F7A800;
    background: rgba(1, 66, 119, 0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    /* Para centrar verticalmente */
    justify-content: center;
    /* Para centrar verticalmente */
    align-items: center;
    width: 485px;
    height: 538px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    font-family: 'Comic Neue', cursive;
    background-color: #003366;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 15px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

h5 {
    color: #F7A800;
    text-align: center;
    font: 400 calc(14px * 0.83)/20px Roboto, sans-serif;
    margin: 0px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.estilo_caja {
    color: black;
    border: none;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.95);
    margin-top: none;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    outline: none;
    width: 342px;
    height: 15px;
    text-align: center;
}

.checkbox {
    background-color: #33333300;
    margin-right: 10px;
}

.color {
    color: white;
}

.container button {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-family: 'Merriweather', serif;
    border-radius: 50px;
    border: 3px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #003366;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}