<nav class="menu__side">
  <div class="name__page">
    <i class="fab fa-youtube" [routerLink]="['/home/welcome']"></i>
    <h4>SPPU</h4>
  </div>
  <ul class="options__menu">
    <li class="selected">
      <a class="option" [routerLink]="['/home/documento_intervencion']">
        <i class="fas fa-home" title="Inicio"></i>
        <h4>Intervención</h4>
      </a>
    </li>

    <li>
      <a class="option" [routerLink]="['/home/proyecto']">
        <i class="far fa-file" title="Portafolio"></i>
        <h4>Proyecto</h4>
      </a>
    </li>

    <li>
      <a class="option" [routerLink]="['/home/aprobar']">
        <i class="fas fa-video" title="Cursos"></i>
        <h4>Aprobacion</h4>
      </a>
    </li>

    <li>
      <a class="option" [routerLink]="['/home/grupos']">
        <i class="fas fa-video" title="Cursos"></i>
        <h4>Grupos</h4>
      </a>
    </li>

    <li>
      <a class="option" [routerLink]="['/home/asistencia']">
        <i class="far fa-sticky-note" title="Blog"></i>
        <h4>Asistencia</h4>
      </a>
    </li>
    
    <li>
      <a class="option" [routerLink]="['/home/validacionevidencia']">
        <i class="far fa-id-badge" title="Contacto"></i>
        <h4>Evidencia</h4>
      </a>
    </li>
    
    <li>
      <a class="option" [routerLink]="['/home/informefinal']">
        <i class="far fa-id-badge" title="Contacto"></i>
        <h4>Informe Final</h4>
      </a>
    </li>

    
  </ul>
</nav>