<div class="borde-contenedor">

  <div class="encabezado">
    <h1>COMENTARIO</h1>
    <div class="salir">
      <img src="../../../../assets/pictures/eliminar X.png" alt="x">
    </div>
  </div>

  <div class="cajas">
  <div class="caja1">

    <div class="cont">
    <div class="imagen">
    <img src="../../../../assets/pictures/Vector.png" alt="subir archivo">
  </div>
    <div class="eliminar">
    <img src="../../../../assets/pictures/eliminar X.png" alt="x">
  </div>
</div>

<div class="botones">

<button class="boton1">ADJUNTAR</button>
<button class="boton2">ADJUNTAR</button>
<button class="boton3">ADJUNTAR</button>

  </div>
</div>

  <div class="caja2">
    <div class="descripcion">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam facilis quaerat. Beatae, quisquam quod dicta labore error non. Facere quae dolor esse aspernatur autem natus fuga! Assumenda, vero sapiente.
    </div>
  </div>

</div>
<button class="guardar">GUARDAR</button>

</div>

