<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
  rel="stylesheet">

<div class="borde">
  <div class="regresar">
    <a href="/menu"><img src="/assets/pictures/regresar.png" class="boton_regresar"></a>
    <p class="documento_intervencion">Informe Final</p>
  </div>

  <div class="crear_buscar">
  <div class="boton_crear">
    <a [routerLink]="['/home/informefinal/registrar']" class="crear">
      <p>CREAR</p>
    </a>
  </div>
    <div class="buscar">
      <label class="texto_proyecto">Proyecto:</label>
      <select class="select">
        <option> </option>
        <option>Proyecto 1</option>
        <option>Proyecto 2</option>
        <option>Proyecto 3</option>
      </select>
      <label class="texto_semestre">Semestre:</label>
      <select class="buscar_estado">
        <option> </option>
        <option>2022-02</option>
        <option>2023-01</option>
        <option>2023-02</option>
      </select>

    </div>
  </div>
  <div class="container-tabla">
    <table class="tabla">
      <thead>
        <tr>
          <th class="id">N°</th>
          <th class="nombre_afiliacion">Proyecto</th>
          <th class="tipo_afiliacion">Facultad</th>
          <th class="fecha_inicio">Carrera</th>
          <th class="fecha_fin">Semestre</th>
          <th class="acción">Acción</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let informefinal of informefinal">
          <td>{{informefinal.id}}</td>
          <td>{{informefinal.proyecto?.nombre_proyecto}}</td>
          <td>{{informefinal.proyecto?.escu_prof?.facultad}}</td>
          <td>{{informefinal.proyecto?.escu_prof?.carrera}}</td>
          <td>{{informefinal.proyecto?.parametros?.tipos}}</td>
          <td class="acción">

            <a [routerLink]="['/home/informefinal/add']"> <img src="/assets/pictures/editar.png" class="editar"></a>


          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
