<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
    rel="stylesheet">

<div class="borde">
    <div class="regresar">
        <p class="proyecto">Integrantes del Grupo</p>
        <a href="/menu"><img src="/assets/pictures/Botón de regresar.png" class="boton_regresar"></a>
    </div>
    <div class="crear_buscar">
        <div class="buscar">
            <select class="caja_buscar1">
                <option>-------</option>
                <option>Proyecto</option>
                <option>Programa</option>
                <option>Voluntariado</option>
            </select>
            <div class="contenedor">
              <div contenedorIzquierdo>
                <table class="tabla">
                  <thead>
                      <tr>
                          <th class="id">N°</th>
                          <th class="nombre_afiliacion">Nombres</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let alumnos of alumnos">
                        <td>{{ alumnos?.id }}</td>
                        <td>{{ alumnos?.persona?.nombre}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <div class="contenedormedio">
                <button class="agregar">Agregar</button><br>
                <button class="quitar">Quitar</button><br>
                <button class="guardar">Guardar</button>
              </div>
              <div class="contenedorizquierdo">
                <table class="tabla">
                  <thead>
                      <tr>
                          <th class="id">N°</th>
                          <th class="semestre">COdigo</th>
                          <th class="nombre_afiliacion">Nombres</th>
                          <th class="semestre">Rol</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let alumno of alumnos">
                      <td>{{ alumno?.id }}</td>
                      <td>{{ alumno?.persona?.nombre}}</td>
                      <td class="acción">a
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            </div>
    </div>
</div>
