.borde {
  margin-top: 2px;
  margin-left: 15px;
  width: 1200px;
  height: 600px;
  border-radius: 23px;
  border: 6px solid #F7A800;
  background: rgba(255, 255, 255, 0.90);
}

.regresar {
  display: flex;
}

.boton_regresar {
  margin-top: 20px;
  margin-left: 350px;
}

.proyecto {
  margin-left: 400px;
  margin-top: 15px;
  color: #014277;
  font-family: Squada One;
  font-size: 50px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.proyecto1 {
  margin-left: 300px;
  margin-top: 15px;
  color: #014277;
  font-family: Squada One;
  font-size: 50px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.crear_buscar {
  display: flex;
  padding-top: 1px;
}

.boton_crear {
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 14px;
  width: 100px;
  height: 32px;
  border-radius: 10px;
  background: #F7A800;
  border-color: #F7A800;

}
.boton_crear1 {

  margin-left: 510px;
  margin-top: -10px;
  padding-top: 3px;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background: #F7A800;
  border-color: #F7A800;

}

.crear {

  color: #014277;
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}
.crear1 {

  color: #014277;
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

.cuadro_radius{
border-radius: 3px;
}

.registrar_intervencion {
  margin-left: 360px;
  margin-top: 10px;
  color: #014277;
  font-family: Squada One;
  font-size: 50px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.espacio{

  margin-bottom: 10px;
}
.datos {

  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.datos_intervencion {
  margin-top: 10px;
  margin-left: 40px;
  height: 500px;
  width: 1140px;
}

.estructura {
  display: flex;
  flex-wrap: wrap;
}

.contenedor_ubigeo {
  margin-top: 20px;
  width: 630px;
  height: 90px;
  border-radius: 10px;
  border: 2px solid #014277;
  background: #D6D6D6;
  display: flex;
  flex-wrap: wrap;
}

.ubigeo {
  margin-top: 5px;
  margin-left: 260px;
  color: #024379;
  font-family: Concert One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ubicacion {
  margin-top: 8px;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.form-control {
  margin-top: 3px;
  width: 526px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid #014277;
  background: #FFF;
}
.form-control1 {
  margin-top: 3px;
  width: 227px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid #014277;
  background: #FFF;
}
.texto_ubigeo {
  margin-top: 5px;
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.contenedor_filtros {
  width: 620px;
  height: 400px;
  margin-left: 10px;
  display: flex;

}



.filtros {
  margin-left: 10px;
}

.tabla {
  width: 500px;
  margin: 15px;
  /* Establece los márgenes izquierdo y derecho en "auto" para centrar horizontalmente */
  border: 4px solid #F7A800;
  background-color: #014277;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  border-collapse: collapse;
  color: white;
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
}


.select {
  height: 20px;
  width: 20px;
  background-color: white;
}

.seleccionar {
  cursor: pointer;
  height: 20px;
}

.fecha_tipo {
  width: 630px;
  height: 123px;
  display: flex;
  flex-wrap: wrap;
}

.contener_fechas {
  margin-top: 10px;
  height: 50px;
  width: 150px;
}

.fecha {
  margin-top: 3px;
  width: 150px;
  height: 24px;
  border-radius: 5px;
  border: 2px solid #014277;
  text-align: center;
}

.tipo {
  margin-left: 20px;
  height: 40px;
  width: 150px;
}
.tipo_int {
  margin-top: 3px;
  width: 529.2px;
  height: 28px;
  border-radius: 5px;
  border: 2px solid #014277;
  background: #FFF;
}

.tipo_doc {
  margin-top: 3px;
  width: 230px;
  height: 28px;
  border-radius: 5px;
  border: 2px solid #014277;
}

.contener_doc {
  margin-top: 15px;
  margin-left: 45px;
  width: 334px;
  height: 111px;
  border-radius: 15px;
  border: 2px solid #014277;
  background: rgba(197, 194, 194, 0.77);
}
.contener_doc1 {
  margin-top: 15px;

  width: 530px;
  height: 149px;
  border-radius: 15px;
  border: 2px solid #014277;
  background: rgba(197, 194, 194, 0.77);
}

.datos_1 {
  width: 550px;
  height: 485px;
}

.linea_separa {
  width: 2px;
  height: 465px;
  margin-left: 10px;
  background-color: #F7A800;
}

.descripcion_guardar {
  margin-top: -11px;
  margin-left: 30px;
  width: 528px;

}

.descripcion {
  margin-top: 3px;
  width: 400px;
  height: 380px;
  border-radius: 5px;
  border: 2px solid #014277;
  background: #FFF;
}



.texto_guardar {
  margin-top: 5px;
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  margin-left: 40px;
  background-color: transparent;
  border: none;
}

.id {
  width: 10px;
  text-align: center;
}

.nombre_documento {
  width: 340px;
}

.tipo_proy {
  width: 165px;
  text-align: center;
  align-items: center;
}

.fecha_inicio {
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100px;
  text-align: center;
}

.fecha_fin {
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100px;
  text-align: center;

}

.semestre {
  width: 90px;
  text-align: center;
}

.acción {
  width: 50px;
  text-align: center;
  align-items: center;
  text-align: center;
}

.borrar {
  margin-right: 10px;
}

.editar {
  margin-right: 10px;
}

.texto_buscar {
  margin-left: 20px;
  margin-right: 10px;
  color: #000;
  font-family: Comic Neue;
  font-size: 15px;
  font-style: normal;


}

.estilo_caja {

  border-radius: 7px;
  border-width: 1.7px;
  font-family: 'Comic Neue';
  font-size: 14px;
  font-style: normal;
  outline: none;
  width: 120px;
  height: 20px;
  text-align: center;
  border-color:#014277;
  border-style:solid;
}

.caja_buscar1{
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 7px;
  border-width: 1.7px;
  font-family: 'Comic Neue';
  font-size: 14px;
  font-style: normal;
  outline: none;
  width: 189px;
  height: 23px;
  text-align: center;
  border-color:#014277;
  border-style:solid;
}

.caja_buscar2{
  border-radius: 7px;
  border-width: 1.7px;
  font-family: 'Comic Neue';
  font-size: 14px;
  font-style: normal;
  outline: none;
  width: 170px;
  height: 23px;
  text-align: center;
  border-color:#014277;
  border-style:solid;
}

.caja_buscar{
  border-radius: 7px;
  border-width: 1.7px;
  font-family: 'Comic Neue';
  font-size: 14px;
  font-style: normal;
  outline: none;
  width: 150px;
  height: 23px;
  text-align: center;
  border-color:#014277;
  border-style:solid;
}

.descargar{
  width: 27px;
  height: 27px;
  padding-left: 10px;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.proyect_tipo {
  margin-left: 299.5px;
  margin-top: -50px;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
}

.buscar {
  margin-top: 0px;
  margin-left: 27px;
  width: 1145px;
  height: 450px;
  border-radius: 10px;
  background: rgba(163, 163, 163, 0.37);
}

.agregar{
  border: none;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  background: #7ED957;
  margin-top: 100px;
  font-weight: bold;
}

.quitar{
  border: none;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  background: #FF5757;
  margin-top: 15px;
  font-weight: bold;
}

.guardar {
  border: none;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  background: #F7A800;
  margin-top: 60px;
  font-weight: bold;
}
