<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
    rel="stylesheet">

<div class="borde">
    <div class="regresar">
        <a href="/menu"><img src="/assets/pictures/regresar.png" class="boton_regresar"></a>
        <p class="proyecto">Proyecto - Grupos</p>
    </div>
    <div class="crear_buscar">
        <div class="buscar">
            <label class="texto_buscar">Tipo de proyecto:</label>
            <select class="caja_buscar1">
              <option>-------</option>
              <option>Proyecto</option>
              <option>Programa</option>
            </select>
            <label class="texto_buscar">Modalidad:</label>
            <select class="caja_buscar2">
                <option>-------</option>
                <option>General</option>
                <option>Escuela</option>
            </select>
            <label class="texto_buscar">Carrera</label>
            <select class="caja_buscar1">
                <option>-------</option>
                <option>2023-1</option>
                <option>2023-2</option>
            </select>
            <label class="texto_buscar">Semestre:</label>
            <select class="caja_buscar">
                <option>-------</option>
                <option>2023-1</option>
                <option>2023-2</option>
            </select>
        </div>
    </div>
    <div class="container_tabla">
      <table class="tabla">
        <thead>
            <tr>
                <th class="id">N°</th>
                <th class="nombre_afiliacion">Nombre de Proyecto</th>
                <th class="tipo_proy">Tipo de Proyecto</th>
                <th class="semestre">Semestre</th>
                <th colspan="3" class="acción"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td>{{proyecto.id}}</td>
                <td>{{proyecto.nombre_proyecto}}</td>
                <td class="tipo_proy">{{proyecto.tip_proyec?.nombre_tipro}}</td>
                <td class="semestre">{{proyecto.parametros?.valor}}</td>
                <td class="acción">
                    <a routerLink="/home/registrargrupos"><img src="/assets/pictures/imagen_grupos.png" class="descargar"></a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
