
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
  rel="stylesheet">

<div class="borde">
  <div class="regresar">
    <a href="/menu"><img src="/assets/pictures/regresar.png" class="boton_regresar"></a>
    <p class="documento_intervencion">Gestion de Evidencia</p>
  </div>
  <div class="crear_buscar">

    <div class="buscar">
      <label class="texto_buscar">Proyecto:</label>
      <select class="select">
        <option> </option>
        <option>Proyecto 1</option>
        <option>Proyecto 2</option>
        <option>Proyecto 3</option>
      </select>
      <label class="texto_buscar">Semestre:</label>
      <select class="buscar_estado">
        <option> </option>
        <option>2022-02</option>
        <option>2023-01</option>
        <option>2023-02</option>
      </select>

    </div>
    <div class="boton_crear">
      <a [routerLink]="['/home/']" class="crear">
        <p>CREAR</p>
      </a>

    </div>
  </div>
  <table class="tabla">
    <tr>
      <th class="id">N°</th>
      <th class="nombre_afiliacion">Nombre proyecto</th>
      <th class="tipo_afiliacion">Tipo proyecto</th>
      <th class="fecha_fin">Semestre</th>
      <th colspan="3" class="acción">Acción</th>


    </tr>
    <tbody>
      <tr *ngFor="let evidencia of evidencias">
        <td>{{evidencia.id}}</td>
        <td>{{evidencia.proyecto?.nombre_proyecto}}</td>
        <td>{{evidencia.proyecto?.parametros?.tipos}}</td>
        <td>{{evidencia.proyecto?.parametros?.valor}}</td>
        <td class="acción">
          <img src="/assets/pictures/borrar.png" class="borrar">
          <img src="/assets/pictures/editar.png" class="editar">
          <img src="/assets/pictures/descargar.png" class="descargar">

        </td>
      </tr>
    </tbody>
  </table>

</div>
