<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
  rel="stylesheet">

<div class="borde">
  <div class="regresar">
    <a [routerLink]="['/home/validacionevidencia']"><img src="/assets/pictures/regresar.png" class="boton_regresar"></a>
    <p class="titulo">Validar evidencia</p>
  </div>

  <div class="contenedor_grupos">
    <div class="contenedor_grupo">
      <div class="grupo">
        <div class="actividadx">Grupo 01</div>
      </div>
      <div>
        <div class="actividad">
          <div class="actividad1">Actividad:</div>
        </div>
        <select class="seleccionador">
          <option></option>
          <option>Departamento1</option>
          <option>Departamento2</option>
          <option>Departamento3</option>
        </select>
        <table class="tabla">
          <tbody>
          <tr *ngFor="let proyecto  of proyecto ">
              <td>{{proyecto.persona?.nombre}}</td>
              <td>{{proyecto.parametros?.valor}}</td>
              <td>{{proyecto.evidencia?.porcentaje}}</td>
              <td>{{proyecto.evidencia?.roles?.horas}}</td>
              <td>{{proyecto.evidencia?.roles?.nota}}</td>
              <td>{{proyecto.parametros?.estado}}</td>
            </tr>
          </tbody>
      </table>
      </div>
      <a [routerLink]="['/home/']"><button class="integrantes">Informe</button></a>
    </div>
    <div class="contenedor_grupo">
      <div class="grupo">
        <div class="actividadx">Grupo 02</div>
      </div>
      <div>
        <div class="actividad">
          <div class="actividad1">Actividad:</div>
        </div>
        <select class="seleccionador">
          <option></option>
          <option>Departamento1</option>
          <option>Departamento2</option>
          <option>Departamento3</option>
        </select>
        <table class="tabla">
          <tbody>
            <tr *ngFor="let proyecto  of proyecto ">
              <td>{{proyecto.persona?.nombre}}</td>
              <td>{{proyecto.parametros?.valor}}</td>
              <td>{{proyecto.evidencia?.porcentaje}}</td>
              <td>{{proyecto.evidencia?.roles?.horas}}</td>
              <td>{{proyecto.evidencia?.roles?.nota}}</td>
              <td>{{proyecto.parametros?.estado}}</td>
            </tr>
          </tbody>
      </table>
      </div>

      <a [routerLink]="['/home/']"><button class="integrantes">Informe</button></a>

    </div>


    <div class="contenedor_grupo">
      <div class="grupo">

        <div class="actividadx">Grupo 03</div>

      </div>
      <div>
        <div class="actividad">

          <div class="actividad1">Actividad:</div>
        </div>
        <select class="seleccionador">
          <option></option>
          <option>Departamento1</option>
          <option>Departamento2</option>
          <option>Departamento3</option>
        </select>
        <table class="tabla">
          <tbody>
            <tr *ngFor="let proyecto  of proyecto ">
              <td>{{proyecto.persona?.nombre}}</td>
              <td>{{proyecto.parametros?.valor}}</td>
              <td>{{proyecto.evidencia?.porcentaje}}</td>
              <td>{{proyecto.evidencia?.roles?.horas}}</td>
              <td>{{proyecto.evidencia?.roles?.nota}}</td>
              <td>{{proyecto.parametros?.estado}}</td>
            </tr>
          </tbody>
      </table>
      </div>

      <a [routerLink]="['/home/']"><button class="integrantes">Informe</button></a>
    </div>
    <div class="contenedor_grupo">
      <div class="grupo">
        <div class="actividadx">Grupo 04</div>
      </div>
      <div>
        <div class="actividad">
          <div class="actividad1">Actividad:</div>
        </div>
        <select class="seleccionador">
          <option></option>
          <option>Departamento1</option>
          <option>Departamento2</option>
          <option>Departamento3</option>
        </select>
        <table class="tabla">
          <tbody>
            <tr *ngFor="let proyecto  of proyecto ">
              <td>{{proyecto.persona?.nombre}}</td>
              <td>{{proyecto.parametros?.valor}}</td>
              <td>{{proyecto.evidencia?.porcentaje}}</td>
              <td>{{proyecto.evidencia?.roles?.horas}}</td>
              <td>{{proyecto.evidencia?.roles?.nota}}</td>
              <td>{{proyecto.parametros?.estado}}</td>
            </tr>
          </tbody>
      </table>
      </div>
      <a [routerLink]="['/home/']"><button class="integrantes">Informe</button></a>
    </div>
  </div>
  <div>

  </div>

</div>
