<div class="contenedor">
  <div class="borde">
    <div class="encabezado">
      <a [routerLink]="['/home/validevi']">
        <i class="bi bi-x-square"></i></a>
      <h1 class="titulo">Informe</h1>

    </div>
    <div class="atributos-container">
      <div class="derecha">
        <input type="text" class="descripcion" />
      </div>
      <div class="izquierda">
        <div class="separador">
          <img class="doc" src="/assets/pictures/doc.png" alt="doc">
          <div class="arriba">
            <button class="descargar">Adjuntar</button>
          </div>
          <div class="abajo">
            <button class="visualizar">Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
