<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
  rel="stylesheet">

<div class="borde">
  <div class="regresar">
    <a [routerLink]="['/home/informefinal']"><img src="/assets/pictures/regresar.png" class="boton_regresar"></a>
    <p class="documento_intervencion">Editar Informe Final</p>
  </div>
  <div class="informe_final">
    <form  >
      <div class="estructura">
        <div class="datos_1">
          <div class="container-registrofinal">
            <div class="colum-izquier">
              <label class="datos">Nombre del proyecto:</label>
              <input type="text"  class="form-control" />
              <label class="datos">Nombre del Coordinador:</label>
              <input type="text" class="form-control" />

              <div class="container_datos">
                <div class="columna-izquierda">
                  <label class="datosderecha">Facultad:</label>
                  <input type="text" class="form-controles"  />
                  <br>
                  <label class="datosderecha">Semestre:</label>
                  <input type="text" class="form-controles" />
                  <br>
                  <label class="datosderecha">Participante estudiante::</label>
                  <input type="text" class="form-controles" />
                </div>
                <div class="columna-derecha">
                  <label class="datosderecha">Carrera:</label>
                  <input type="text" class="form-controles" />
                  <label class="datosderecha">Ciclo:</label>
                  <input type="text" class="form-controles" />
                  <label class="datosderecha">Participante satisfacción:</label>
                  <input type="text" class="form-controles" />
                </div>
              </div>
            </div>

            <div class="linea_separa"></div>
              <div class="colum-derech">
                <div class="container-registrofinal2"></div>
                <div class="descripcion_guardar">
                  <div class="container_datos">
                    <div class="columna-izquierda2">
                      <label class="datosizquierda">Participacion Docentes:</label>
                      <input type="text" class="form-controle-derecha" />
                      <br>
                      <label class="datosizquierda">Satisfacción de Docente:</label>
                      <input type="text" class="form-controle-derecha" />
                      <br>
                      <label class="datosizquierda">Beneficiario:</label>
                      <input type="text" class="form-controle-derecha" />
                      <label class="datosizquierda">Cantidad de Beneficiario:</label>
                      <input type="text" class="form-controle-derecha" />
                      <label class="datosizquierda">Satisfaccion de Beneficiario:</label>
                      <input type="text" class="form-controle-derecha" />
                    </div>
                    <div class="columna-derecha2">
                      <label class="datosizquierda">Descripcion:</label>
                      <input type="text" class="descripcion" />

                      <div class="informe-div">
                        <label class="datosinforme" >Informe:</label>
                        <div class="agregar-plantilla-form-contenedor-input-file">
                          <div class="doc-izquiera">
                            <h5 class="letra-doc">Carta de Agradecimiento u Otros datos</h5>
                          </div>
                          <div class="doc-derecha">
                           <img class="doc" src="/assets/pictures/doc.png" alt="doc">
                            <button class="visualizar">Visualizar</button>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>

                  <div class="guardar">
                    <input type="submit" class="texto_guardar" value="Guardar">
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
